.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-image img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

ul li {
    text-decoration: none;
    list-style: none;
}

.nav-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

ul li a {
    color: #000;
    text-decoration: none;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
}